.citysearch
{
  background-color: azure;
  position: relative;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#messages
{
  float: right;
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar
{
  overflow: hidden;
  background-color: cadetblue;
}
.searchbar input[type=text]
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
#submit
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
.searchbar input[type=text]
{
  border: none;
}
.searchbar
{
  background-color: gray;
}

#home
{
  float: left;
  padding: 12px
}
#collect-cash
{
  float: left;
  padding: 12px
}
#shareacct
{
  float: left;
  padding: 12px
}
#splitbill
{
  float: left;
  padding: 12px
}
.codesubmit
{
  float: center;
  border: 1px dashed black;
  height: 250px;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 14px;
  margin-right: 450px;
}
.qrtext
{
  float: center;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
}