/* dropdown menu */
.citysearch
{
  background-color: azure;
  position: relative;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#messages
{
  float: right;
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* search bar */
#navbar
{
  overflow: hidden;
  background-color: cadetblue;
}
.searchbar input[type=text]
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
#submit
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
.searchbar input[type=text]
{
  border: none;
}
.searchbar
{
  background-color: gray;
}

#home
{
  float: left;
  padding: 12px
}
#collect-cash
{
  float: left;
  padding: 12px
}
#shareacct
{
  float: left;
  padding: 12px
}
#splitbill
{
  float: left;
  padding: 12px
}