<a routerLink="['/bill', bill.id]"></a>
<body>
    <div id="dk">
        <div id="bill-split-page">
            
            <div id="billsplit">
                <select class="options">
                    <option selected>Select a Bill </option>
                    <option>Best Buy Order</option>
                    <option>Waldorf-Astora Bill</option>
                </select>
                <select class="options">
                    <option selected>Select a Receiver </option>
                    <option>Example 1</option>
                    <option>Example 2</option>
                </select>
            </div>	
    
            <div id="creditstuff">
                <a href="javascript:;" class="wut">
                    <p class="title-style" style="width:80%">Credit History</p>
                </a>
                <a href="javascript:;" class="wut">
                    <p class="title-style" style="width:70%">Amount Collected</p><div class="class2">$800</div>
                </a>
                <div class="billingpage">
                    <div class="billingdiv">
                        <i class="merchant"></i><p><u>Billing merchant</u></p>
                    </div>
                    <div class="storefront">
                        <p><u>Store</u></p>
                    </div>
                </div>		
            </div>
            <div id='qrcode'>
                <div id='codesubmit'>
                  <div class='qrtext'>
                    <p>Scan QR code here</p>
                  </div>
                </div>
                <input type='submit' value='Submit'>
                <button type="button" onClick="hideElement()">Hide QR</button>
              </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>