#moneyearned
{
    float: left;
    margin-left: 700px;
    margin-right: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.accept
{
    float: left;
    margin-left: 800px;
    margin-right: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}