<a routerLink="['/account', account.id]"></a>
<body>
    <div id='acctinfo'>
        <p>User ID: 100603</p>
        <p>Bank Name: Genisys Credit Union</p>
        <p>Balance: 1600 USD</p>
    </div>
    <div id='profilepic'>
        <img src='assets\img\default.jpg' alt="" width='96' height='96'>
    </div>
    <div id='bio'>
        <form class='usertext'>
            <input type="text" id="userbio" placeholder='Write about yourself.' name="userbio" />
        </form>
        <div id='userbalance'>
            <button id='addcash' (click)="cashAdd()">Add Money</button>
            <button id='transfer' (click)="cashTransfer()">Send Money</button>
        </div>
    </div>
    <div id='friends'>
         <ul>
            <li *ngFor="let friend of friends">
                {{ friend.name }}
                <button>Add to account</button>
            </li>
        </ul>
    </div>
    <div id="cards">
        <img src="static/images/pic/png-transparent-visa-mastercard-logo.png" alt="">
        <img src="static/images/pic/Discover-logo.png" alt="">
        <img src="static/images/pic/Maestro_2016.png" alt="">
    </div>
    <div id="super">
        <input type="hidden" id="debitcard" value="{$card.id}">
        <input type="hidden" id="cardname" value="{$card.holder}">
        <div id="banknum">
            <form>
                <div>
                    <input type="text" plcaeholder="Enter your card number" id="bankcard" value="">
                    <a href="javascript:;" class="AddCard">Add</a>
                </div>
            </form>
        </div>
    </div>
    <script language="Javascript" type="text/Javascript">
        $(".AddCard").click(function()
        {
            var debitcard = $("#card.id").val();
            var cardname = $("#card.holder").val();
            if(debitcard=="")
            {
                alert("Please enter a valid card number");
                return false;
            }
            else
            {
                return false;
            }
        })
    </script>
</body>
<router-outlet></router-outlet>